.add-user-icon {
  position: absolute;

  bottom: -5px;
  right: -5px;
}
.threadForm {
  width: 600px;
  height: 240px;
}
.home-icon {
  transition: scale 200ms ease-in-out;
}
.home-icon:hover {
  scale: 1.05;
}
.menu-hover {
  color: #a3a3a3;
}
.menu-hover:hover {
  color: white;
}
